{% include 'navbar.html' %}

{% block content %}
    <div class="well col-md-10 col-md-offset-1">
        <table id="appointmentsTable" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Patient</th>
                <th>Doctor</th>
                <th>Date</th>
                <th>Description</th>
                <th>ID</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Patient</th>
                <th>Doctor</th>
                <th>Date</th>
                <th>Description</th>
                <th>ID</th>
            </tr>
            </tfoot>
            <tbody>
            {% for apt in appointments %}
                <tr>
                    <td>{{ apt.p_first_name }} {{ apt.p_last_name }}</td>
                    <td>{{ apt.doctor }}</td>
                    <td>{{ apt.date }}</td>
                    <td>{{ apt.description|escapejs }}</td>
                    <td>{{ apt.pk }}</td>
                    <td>{{ apt.date|escape }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="viewAppointment" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteForm" action="/deleteAppointment/" method="POST">
                    <!-- Header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Appointment View</h4>
                    </div>

                    <!-- Body / Render Forms-->
                    <div class="modal-body">
                        <div class="container-fluid">
                            {% if user.usertype == "nurse" %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_delete-doctor">Patient</label>
                                        {{ form.p_first_name }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_delete-doctor">Doctor</label>
                                        {{ form.doctor }}
                                    </div>
                                </div>
                            {% elif user.usertype == 'doctor' %}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="id_delete-doctor">Patient</label>
                                        {{ form.p_first_name }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="id_delete-doctor">Doctor</label>
                                        {{ form.doctor }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_delete-date">Date & Time (8AM - 5PM)</label>
                                    {{ form.date }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_delete-description">Description</label>
                                    {{ form.description }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Footer / Create 'Cancel' and 'Create' Button-->
                    <div class="modal-footer">
                        {% csrf_token %}
                        <input type="submit" onclick="setAsSave()" class="btn btn-primary" value="Save Changes">
                        <input type="submit" class="btn btn-primary" value="Delete Appointment">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#appointmentsTable').DataTable({
                "bLengthChange": false,
                "aaSorting": [2, 'desc'],
                "language": {
                    "emptyTable": "You have no appointments."
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    $(nRow).click(function () {
                        $('#viewAppointment').modal('show');
                        $("#id_delete-date").val(aData[5].replace(" ","T"));
                        $('#id_delete-doctor').val("Dr. " + aData[1]);
                        $('#id_delete-description').val(aData[3]);
                        document.getElementById('deleteForm').action = "/deleteAppointment/" + aData[4];
                    });
                    return nRow;
                },
                "columnDefs": [
                    {
                        "targets": [ 5 ],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });

            $('.dataTables_filter').each(function () {
                $(this).prepend('<h4 style="float: left;"><b>Click an appointment to modify or delete it</b></h4>');
            });
        });

        function setDateAsToday() {
            var d = new Date();
            var d2 = new Date();
            d2.setHours(d.getHours() - 5);
            document.getElementById('id_delete-date').value = d2.toISOString().slice(0, 14) + "30";
        }

        function setAsSave() {
            document.getElementById('deleteForm').action = "/editAppointment/" +
                    document.getElementById('deleteForm').action.replace('http://localhost:8000/deleteAppointment/', '');
        }

        {% for option in options %}
            {% if option.usertype == 'doctor' and user.usertype != 'doctor'%}
                $("#id_delete-doctor").append($("<option />").text("Dr." + " {{ option.last_name }}"));
            {% elif option.usertype == 'patient' and user.usertype != 'patient'%}
                $("#id_delete-p_first_name").append($("<option />").text("{{ option.first_name }} {{ option.last_name }} ({{ option.username }})"));
            {% endif %}
        {% endfor %}

    </script>
{% endblock %}